<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台登录页面</title>
</head>
<body>
    <form action="staff/login" method="post">
        <input type="text" name="staffName"/><br/>
        <input type="text" name="staffPassword"/><br/>
        <button type="submit" class="enter-btn" >登录</button>
    </form>

    <div id="message-box" style="border:1px solid antiquewhite;overflow-y:auto; overflow-x:auto; height:000px; width:100px">
        ---------2132
    </div>
</body>
</html>